.Save_Load_main {
  height: 90%;
  width: 100%;
  position: absolute;
  cursor: default;
}

.Save_Load_top {
  height: 10%;
  width: 100%;
  display: flex;
  //background-color: rgba(255, 255, 255, 1);
  //box-shadow: 0 0 1.5em 0.1em rgba(0, 0, 0, 0.05);
  animation: Elements_in ease-out 1s forwards;
  //border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  justify-content: center;
}

.Save_Load_title {
  font-family: "思源宋体", serif;
  letter-spacing: 0.1em;
  width: auto;
  font-size: 500%;
  min-width: 350px;
  //margin: 0 0 0 0.8em;
  //padding: 0 0.8em 0 0.8em;
  box-sizing: border-box;
  //border-bottom: 4px solid #77428D;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 20px;
  top:0;
  z-index: -1;
  opacity: 0.2;
  transform: translateY(-10px);
}

.Save_title_text {
  font-weight: bold;
  color: transparent;
  background: linear-gradient(135deg, #77428D 0%, #B28FCE 100%);
  text-shadow: 2px 2px 15px rgba(255, 255, 255, 0.5);
  -webkit-background-clip: text;
}


.Load_title_text {
  font-weight: bold;
  color: transparent;
  background: linear-gradient(135deg, #005CAF 0%, #2EA9DF 100%);
  text-shadow: 2px 2px 15px rgba(255, 255, 255, 0.5);
  -webkit-background-clip: text;
}

.Save_Load_top_buttonList {
  height: 100%;
  display: flex;
  //padding: 0 0 0 2em;
}

.Save_Load_top_button {
  cursor: pointer;
  font-size: 200%;
  width: 2.05em;
  text-align: center;
  color: rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  display: flex;
  align-items: center;
  border-bottom: 4px solid rgba(0, 0, 0, 0);
  transition: background-color 0.7s, border-bottom-width 0.7s;
}

.Save_Load_top_button_text {
  text-align: center;
  width: 100%;
  padding: 0 0 3px 0;
  border-left: 2px solid rgba(0, 0, 0, 0.1);
}

.Save_Load_top_button:first-child > div {
  border-left: 2px solid rgba(0, 0, 0, 0);
}

.Save_Load_top_button_on {
  font-weight: bold;
  border-bottom: 4px solid #77428D;
  color: #77428D;
  background-color: rgba(119, 66, 141, 0.05);
}

.Save_Load_top_button:hover {
  color: #77428D;
  font-weight: bold;
  border-bottom: 4px solid #77428D;
}

.Load_top_button_on {
  font-weight: bold;
  border-bottom: 5px solid #005CAF;
  color: #005CAF;
  background-color: rgba(0, 92, 175, 0.1);
}

.Load_top_button:hover {
  color: #005CAF;
  font-weight: bold;
  border-bottom: 5px solid #005CAF;
}

.Save_Load_content {
  height: 90%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.Save_Load_content_element {
  //background: linear-gradient(-45deg, rgba(255,255,255,0.9) 0%, rgba(255,255,255,0.5) 100%);
  background: linear-gradient(-45deg, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.075));
  overflow: hidden;
  //border: 1px solid rgba(255, 255, 255, 1);
  width: 17.5%;
  height: 45%;
  //box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  animation: Elements_in 1s ease-out forwards, Elements_in_transform 1s ease-out;
  opacity: 0;
  border-radius: 4px;
  transition: transform 0.25s, box-shadow 0.25s;
  cursor: pointer;
}

.Save_Load_content_element:hover {
  //box-shadow: 0 0 25px 8px rgba(0, 0, 0, 0.1);
  transform: scale(1.05, 1.05) translate(-0.2em, -0.2em);
}


.Save_Load_content_element_top {
  font-family: "思源宋体", serif;
  width: 100%;
  height: 12%;
  display: flex;
}

.Save_Load_content_element_top_index {
  color: rgba(255, 255, 255, 1);
  text-align: center;
  font-size: 155%;
  height: 100%;
  width: 20%;
  background-color: #B28FCE;
}

.Load_content_elememt_top_index {
  background-color: #51A8DD;
}

.Save_Load_content_element_top_date {
  padding: 0.425em 0 0 0.5em;
  background-color: #77428D;
  color: rgba(255, 255, 255, 1);
  font-size: 115%;
  height: 100%;
  width: 80%;
  font-family: WebgalUI, serif;
  letter-spacing: 0.1em;
}

.Load_content_element_top_date {
  background-color: #005CAF;
}

.Save_Load_content_text {
  font-family: "WebgalUI", sans-serif;
  letter-spacing: 0.05em;
  color: #373C38;
  background: linear-gradient(-45deg, rgba(255, 255, 255, 0.75) 0%, rgba(255, 255, 255, 1) 100%);
  //background: rgba(255,255,255,1);
  font-size: 120%;
  height: 40%;
  width: 100%;
  //box-sizing: border-box;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.Save_Load_content_text_padding {
  padding: 0.2em 0.75em 0.2em 0.75em;
}

.Save_Load_content_speaker {
  box-sizing: border-box;
  //margin: 0.35em 0 0 0;
  //background: rgba(0, 0, 0, 0.04);
  font-weight: bold;
  color: #77428D;
  padding: 0.35em 0.8em 0.25em 0.8em;
  width: 100%;
  //border-radius: 4px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.Load_content_speaker {
  color: #005caf;
}


.Load_content_text {
  background-color: rgba(0, 92, 175, 0.75);
}

.Save_Load_content_miniRen {
  width: 100%;
  height: 48%;
  position: relative;
  background-size: cover;
}

.Save_Load_content_miniRen_bg {
  background-size: cover;
  height: 100%;
  width: 100%;
  background-position: center;
}

.Save_Load_content_miniRen_figure {
  height: 100%;
  max-height: 100%;
  max-width: 100%;
  position: absolute;
  bottom: 0;
}

.Save_Load_content_miniRen_figLeft {
  bottom: 0;
  left: 0;
}

.Save_Load_content_miniRen_figRight {
  bottom: 0;
  right: 0;
}

@keyframes Elements_in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes Elements_in_transform {
  0% {
    transform: scale(1.05, 1.05) translate(-25px, -20px) rotateY(15deg) rotateX(-15deg);
  }
  100% {
    transform: scale(1, 1) translate(0, 0);
  }
}
