.save_load_main {
  display: flex;
  flex-direction: row-reverse;
  height: 100%;
  width: 100%;
}

.save_load_bar {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  align-items: flex-start;
  width: auto;
  height: auto;
  padding: 2vmin 2vmin;
  gap: 2vmin;
  overflow: auto;
  scrollbar-width: none;
  outline: none;
}

.save_load_bar_button {
  cursor: pointer;
  display: flex;
  min-width: 10vmin;
  min-height: 10vmin;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: rgb(233, 233, 233);
  transition: background-color 0.5s cubic-bezier(0.215, 0.610, 0.355, 1);
  box-shadow: 0 0.5vmin 0vmin rgb(199, 199, 199);
  border-style: solid;
  border-width: 1vmin;
  border-color: rgba(255, 255, 255, 0);
  border-radius: 5vmin;
  color: rgb(68, 68, 68);
  font-size: 4vmin;
  font-weight: 500;
  
  &:hover {
    background-color: rgb(255, 255, 255);
    transition: background-color 0s;
  }
}

.save_load_bar_button_active {
  background-color: rgb(119, 66, 141);
  box-shadow: 0 0.5vmin 0vmin rgb(133, 79, 158);
  border-color: rgb(158, 98, 177);
  text-shadow: 0 0.3vmin 0vmin rgb(98, 49, 121);
  color: rgb(255, 255, 255);

  &:hover {
    background-color: rgb(131, 71, 156);
  }
}

.load_bar_button_active {
  background-color: rgb(52, 114, 185);
  box-shadow: 0 0.5vmin 0vmin rgb(74, 105, 190);
  border-color: rgb(83, 140, 206);
  text-shadow: 0 0.3vmin 0vmin rgb(8, 76, 139);

  &:hover {
    background-color: rgb(66, 123, 189);
  }
}

.save_load_content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  height: 100%;
  width: 100%;
  padding: 2vmin;
  gap: 2vmin;
  align-content: flex-start;
  justify-content: center;
  overflow: auto;
  outline: none;
}

.save_load_content_element {
  cursor: pointer;
  display: flex;
  flex-shrink: 0;
  width: 100%;
  height: 18vmin;
  background-color: rgb(233, 233, 233);
  box-shadow: 0 0.5vmin rgb(199, 199, 199);
  transition: background-color 0.5s cubic-bezier(0.215, 0.610, 0.355, 1);
  border-style: solid;
  border-width: 1vmin;
  border-color: rgba(255, 255, 255, 0.0);
  border-radius: 2vmin;
  overflow: hidden;
  gap: 1vmin;
  opacity: 0;
  animation: save_load_content_element_show var(--ui-transition-duration) cubic-bezier(0.215, 0.610, 0.355, 1) forwards calc(var(--ui-transition-duration) / 10 * var(--save-load-content-element-index));
}

@keyframes save_load_content_element_show {
  0% {
    opacity: 0;
    scale: 0.95;
  }
  100% {
    opacity: 1;
    scale: 1;
  }
}

.save_load_content_element:hover {
  background-color: rgb(255, 255, 255, 1);
  transition: background-color 0s;
}

.save_load_content_element_preview {
  display: flex;
  flex-shrink: 0;
  width: auto;
  height: 100%;
  border-radius: 1vmin;
  overflow: hidden;
}

.save_load_content_element_preview_image {
  display: flex;
  flex-shrink: 0;
  background-size: cover;
  height: 100%;
  width: 100%;
  background-position: center;
}

.save_load_content_element_info {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.save_load_content_element_info_bar {
  display: flex;
  width: 100%;
  flex-shrink: 0;
  background-color: #77428D;
  border-radius: 1vmin;
  overflow: hidden;
}

.load_content_element_info_bar {
  background-color: #005CAF;
}

.save_load_content_element_index {
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  padding: 0.5vmin 2vmin;
  color: rgba(255, 255, 255, 1);
  font-size: 3vmin;
  background-color: #9e62b1;
}

.load_content_element_index {
  background-color: #3396d3;
}

.save_load_content_element_date {
  display: flex;
  align-items: center;
  height: auto;
  width: 100%;
  padding: 0.5vmin 2vmin;
  color: rgba(255, 255, 255, 1);
  font-size: 3vmin;
}

.load_content_element_top_date {
}

.save_load_content_dialog {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.save_load_content_speaker {
  display: flex;
  width: 100%;
  color: #77428D;
  font-size: 3.5vmin;
  font-weight: 700;
  padding: 0 2vmin;
}

.save_load_content_text {
  color: #474747;
  font-size: 3.5vmin;
  font-weight: 400;
  padding: 0 2vmin;
}


.load_content_speaker {
  color: #005caf;
}

.load_content_text {
  background-color: rgba(0, 92, 175, 0.75);
}

@container (aspect-ratio < 1.2) {
  .save_load_content_element {
    flex-direction: column;
    height: 66vmin;
  }
  .save_load_content_element_preview {
    width: 100%;
    height: auto;
  }
}
