.Choose_Main {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  z-index: 13;
  background: rgba(0, 0, 0, 0.05);
  animation: Choose_Main 0.3s;
  -webkit-animation: Choose_Main 0.3s;
  -moz-animation: Choose_Main 0.3s;
}

.Choose_item {
  font-family: "WebgalUI", serif;
  cursor: pointer;
  min-width: 50%;
  padding: 0.25em 1em 0.25em 1em;
  font-size: 265%;
  color: #355c8e;
  text-align: center;
  border-radius: 4px;
  border: 3px solid rgba(0, 0, 0, 0);
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.25);
  background: rgba(255, 255, 255, 0.65);
  margin: 0.25em 0 0.25em 0;
  transition: background-color 0.5s, border 0.5s, font-weight 0.5s, box-shadow 0.5s;
  animation: Choose_Main 0.3s;
  -webkit-animation: Choose_Main 0.3s;
  -moz-animation: Choose_Main 0.3s;
}

.Choose_item:hover {
  //font-weight: bold;
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.35);
  border: 3px solid #355c8e;
  animation: Choose_Main 0.3s;
  -moz-animation: Choose_Main 0.3s;
  -webkit-animation: Choose_Main 0.3s;
}


@keyframes Choose_Main {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}