.ToCenter {
    display: flex;
    justify-content: center;
}

.main {
    //border-bottom: 2px solid rgba(255,255,255,0.25);
    position: absolute;
    bottom: 0.3em;
    z-index: 9;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    //background-color: rgba(150, 150, 150, 0.25);
    padding: 0.15em 1.75em 0.15em 1.75em;
    //background: linear-gradient(rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.25) 100%);
    //border-radius: 10px;
}

.button {
    position: relative;
    top: 2px;
    padding: 0 3px 0 0;
}

.button_text {
    position: relative;
    bottom: 4px;
}

.button_on {
    height: 100%;
    display: inline-block;
    color: white;
    font-size: 150%;
    padding: 0.2em 0.6em 0 0.45em;
    transition: background-color 0.5s;
    background: rgba(255, 255, 255, 0.3);
}

.singleButton {
    //border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    height: 100%;
    display: inline-block;
    color: white;
    font-size: 150%;
    padding: 0.2em 0.6em 0 0.45em;
    transition: background-color 0.5s;
}

.singleButton:hover {
    background-color: rgba(255, 255, 255, 0.3);
}
