@font-face {
  font-family: 'Monomaniac One'; /* 字体名称 */
  src: url('@/assets/fonts/MonomaniacOne-Regular.ttf') format('truetype');
  font-weight: 600; /* 字体粗细 */
  font-style: normal; /* 字体样式 */
}

.Title_main {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 13;
}

.Title_buttonList {
  display: flex;
  position: absolute;
  left: 0;
  bottom: 20px;
  min-width: 25%;
  height: 60%;
  justify-content: center;
  align-items: flex-start;
  flex-flow: column;
  transition: background 0.75s;
  padding-left: 30px;
}

.Title_button {
  font-weight: bold;
  text-align: center;
  flex: 0 1 auto;
  cursor: pointer;
  margin: 14px 0;
  transition: all 0.33s;
  border-radius: 4px;
  &:hover {
    color: rgb(254, 214, 17);
    text-shadow: 0 0 10px rgb(254, 214, 17);
  }
}

.Title_button_text {
  color: transparent;
  background: linear-gradient(135deg, #fdfbfb 0%, #dcddde 100%);
  -webkit-background-clip: text;
  padding: 0 0.5em 0 0.5em;
  font-size: 200%;
  letter-spacing: 0.15em;
  font-family: 'Monomaniac One', WebgalUI, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.Title_backup_background {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 13;
  background: linear-gradient(135deg, #fdfbfb 0%, #dcddde 100%);
}
