.options_normal_option {
  display: flex;
  flex-flow: column;
  align-items: flex-start;
}

.options_normal_option_title {
  display: flex;
  flex-wrap: wrap;
  max-width: 80%;
  background-color: rgb(218, 218, 218);
  color: rgb(68, 68, 68);
  padding: 1vmin 4vmin;
  border-radius: 4vmin 4vmin 0vmin 0vmin;
  font-size: 3.2vmin;
  font-weight: 500;
}

.options_normal_option_content {
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(218, 218, 218);
  box-shadow: 0 0.5vmin 0vmin rgb(199, 199, 199);
  padding: 1vmin;
  border-radius: 0vmin 4vmin 4vmin 4vmin;
  gap: 1vmin;
}
