.options_main {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  position: relative;
}

.options_bar {
  position: relative;
  display: flex;
  flex-shrink: 0;
  align-items: flex-start;
  justify-content: center;
  width: auto;
  height: auto;
  padding: 2vmin 0;
  gap: 2vmin;
}

.options_bar_button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-color: rgba(255, 255, 255, 0.0);
  border-width: 0 0 0.8vmin 0;
  border-style: solid;
  min-width: 10vmin;
  min-height: 10vmin;
  padding: 0 2.5vmin;
  transition: background-color 0.5s cubic-bezier(0.215, 0.610, 0.355, 1);
  gap: 1vmin;
  color: rgb(68, 68, 68);
  font-size: 3.5vmin;
}

.options_bar_button:hover {
  background-color: rgba(0, 0, 0, 0.1);
  transition: background-color 0s;
}

.options_bar_button_active {
  border-color: rgb(68, 68, 68);
}

.options_bar_button_icon {
  line-height: 0;
  font-size: 120%
}

.options_bar_button_text {
  display: flex;
  flex-shrink: 0;
  font-weight: 500;
  margin-right: auto
}

.options_page_container {
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  align-items: flex-end;
  flex-wrap: wrap;
  height: 100%;
  overflow: auto;
  background-color: rgb(233, 233, 233);
  border-radius: 6vmin 0 0 0;
  padding: 2vmin 2vmin 4vmin 2vmin;
  gap: 4vmin;
  animation: options_page_container_show var(--ui-transition-duration) cubic-bezier(0.215, 0.610, 0.355, 1);
}

@keyframes options_page_container_show {
  0% {
    opacity: 0;
    transform: translateY(2%);
  }
  100% {
    opacity: 1;  
    transform: translateY(0);
  }
}

.options_description {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
}

.options_description:last-child {
  margin-bottom: 4vmin;
}

.options_description_title{
  display: flex;
  font-size: 3.5vmin;
  font-weight: 500;
  background-color: rgb(218, 218, 218);
  color: rgb(68, 68, 68);
  border-radius: 4vmin 4vmin 0 0;
  padding: 1vmin 4vmin;
}

.options_description_content{
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: rgb(218, 218, 218);
  box-shadow: 0 0.5vmin 0vmin rgb(199, 199, 199);
  border-radius: 0 4vmin 4vmin 4vmin;
  padding: 2vmin 4vmin;
}

.options_description_subtitle {
  display: flex;
  width: auto;
  color: rgb(47, 47, 47);
  font-size: 3.5vmin;
  font-weight: 500;
  padding: 1vmin;
  border-radius: 2vmin;
}

.options_description_text{
  color: rgb(47, 47, 47);
  font-size: 3vmin;
  font-weight: 500;
  padding: 1vmin 3vmin;
  a {
    display: inline-block;
    width: 100%;
    white-space: normal;
    word-break: break-word;
  }
}

@container (aspect-ratio < 1.6) {
  .options_bar_button_text {
    display: none;
  }
}
