.LS_indexButton{
    font-size: 125%;
    padding: 5px 20px 5px 20px;
    margin: 0 5px 5px 5px;
}

.LS_indexButtonOn{
    font-size: 125%;
    font-weight: bold;
    padding: 5px 20px 5px 20px;
    margin: 0 5px 5px 5px;
}

.LS_indexButton:hover{
    font-weight: bold;
}

.LS_Main{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
    z-index: 14;
    background-color: rgba(255,255,255,0.95);
    /*background-image: linear-gradient(rgba(255,255,255,0) 0%,rgba(255,255,255,0) 75%,rgba(255,255,255,0.3)100%);*/
    /*border-radius: 15px;*/
    -webkit-animation: showSoftly 0.5s;
    padding: 30px 30px 30px 30px;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.5);
}

.LS_Items{
    padding: 5px 10px 10px 10px;
    height: 75%;
    display: flex;
    justify-items: center;
    justify-content: center;
}

.LS_mainBox{
    height: 100%;
}

.LS_Index{
    padding: 5px 5px 7px 5px;
    width: 100%;
    border-bottom: 1px solid rgba(0,0,0,0.3);
}

.LS_singleElement{
    overflow: hidden;
    margin: 15px 5px 5px 5px;
    width: 650px;
    height: 120px;
    font-size: 150%;
    padding: 10px 15px 10px 15px;
    border: 2px solid rgba(0,0,0,0.15);
    background-color: rgba(255,255,255,0.95);
    box-shadow: 4px 4px 12px  rgba(0,0,0,0.1);
    display: flex;
}

.LS_singleElement:hover{
    /*margin: 5px 10px 3px 10px;*/
    /*background-color: rgba(0,0,0,0.05);*/
    box-shadow: 3px 3px 15px rgba(0,0,0,0.2);
}

.LS_ButtonList{
    height: 100%;
    overflow: scroll;
    overflow-scrolling: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.LS_renderMain{
    width: 100%;
    height: 90%;
}

.LSE_top{
    padding: 0 0 0 0;
    font-size: 125%;
    text-align: left;
}

.LSE_index{
    display: none;
    padding: 0 15px 0 15px;
    border: 2px solid #8E354A;
    margin: 0 5px 0 0;
    border-radius: 5px;

}
.LSE_bottom{
    height: 50px;
    color: #6e6e73;
    margin: 3px 0 0 0;
    text-align: left;
    font-size: 90%;
    overflow: hidden;
    padding: 0 0 10px 0;
}

::-webkit-scrollbar {display:none}

#LoadTitle{
    color: #005CAF;
    font-size: 250%;
    padding: 5px 10px 5px 10px ;
}

.LoadIndexButton{
    color:#005CAF;
}

.LoadIndexButton:hover{
    border-bottom: 2px solid #005CAF;
}

.LoadIndexButtonOn{
    border-bottom: 3px solid #005CAF;
    color:#005CAF;
    background-color: rgba(0,92,175,0.07);
}

.LoadSingleElement{
    color: #005CAF;
}
.LoadSingleElement:hover{
    /*border-bottom: 1px solid #005CAF;*/
}


#SaveTitle{
    color: #77428D;
    font-size: 250%;
    padding: 5px 10px 5px 10px ;
}

.SaveIndexButton{
    color:#77428D;
}

.SaveIndexButton:hover{
    font-weight: bold;
    border-bottom: 2px solid #77428D;
}

.SaveIndexButtonOn{
    border-bottom: 3px solid #77428D;
    color:#77428D;
    background-color: rgba(119,66,141,0.07);
}

.SaveSingleElement{
    color: #77428D;
}

.SaveSingleElement:hover{
    /*border-bottom: 1px solid #77428D;*/
}

.ren{
    position: relative;
    top: 7px;
    width: 160px;
    height: 90px;
    background-color: #f5f5f7;
    background-repeat: no-repeat;
    background-size:cover;
    margin: 0 12px 0 0;
    border: 2px solid #8E354A;
    border-radius: 5px;
}

.miniPic{
    width: 160px;
    height: 90px;
    position: relative;
    background-repeat: no-repeat;
    background-size:cover;
}

.mini_fig_pic{
    max-width: 160px;
    max-height: 90px;
    width: auto;
    height: auto;
}

.mini_fig{
    width: 160px;
    height: 90px;
    object-fit: cover;
}

.mini_fig_center{
    position: absolute;
    z-index: 21;
    width: 160px;
    height: 90px;
    display: flex;
    justify-content: center;
    justify-items: center;
}

.mini_fig_left{
    position: absolute;
    z-index: 20;
    width: 160px;
    height: 90px;
    display: flex;
    justify-content: left;
    justify-items: left;
}

.mini_fig_right{
    position: absolute;
    z-index: 22;
    width: 160px;
    height: 90px;
    display: flex;
    justify-content: right;
    justify-items: right;
}
