/*清除默认边距*/
@font-face {
    font-family: "思源宋体";
    /*noinspection CssUnknownTarget*/
    src: url("./fonts/SourceHanSerifSC-Regular.otf");
}

* {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    text-align: left;
}

#ReactRoot {
    position: relative;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

#mainTextWindow {
    /*background-color: rgba(86,108,115,0.8);*/
    /*background-color: rgba(0,0,0,0.5);*/
    padding: 15px 20% 15px 20%;
    width: 100%;
    margin: 0 0 0 0;
    z-index: 3;
    background-image: linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.25) 35%, rgba(0, 0, 0, 0.25) 80%, rgba(0, 0, 0, 0.5) 100%), linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.35) 25%, rgba(0, 0, 0, 0.35) 75%, rgba(0, 0, 0, 0) 100%);
    /*box-shadow: 5px 5px 10px rgba(0,0,0,0.3);*/
    /*border-radius: 10px;*/
    cursor: default;
}


#bottomBox {
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 35%;
}

#SceneText {
    padding: 15px 0 0 0;
    color: #f5f5f7;
    font-size: 200%;
    overflow: hidden;
    height: 60%;
    font-family: 思源宋体, serif;
    letter-spacing: 2px;
    text-shadow: 2px 2px 7px rgba(255, 255, 255, 0.5);
}

#pName {
    letter-spacing: 3px;
    color: #f5f5f7;
    font-size: 165%;
    /*background-color: rgba(255,255,255,0.7);*/
    padding: 3px 7px 3px 7px;
    /*border-radius: 5px;*/
    border-bottom: 2px solid rgba(255, 255, 255, 0.5);
    width: 45%;
    font-family: 思源宋体, serif;
    text-shadow: 2px 2px 7px rgba(255, 255, 255, 0.5);
    /*background-color: rgba(0,0,0,0.5);*/
    /*border-radius: 5px;*/
}

#mainBackground {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    background-repeat: no-repeat;
    background-size: cover;
    /*animation: showSoftly 0.5s;*/
}

#oldBG {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 0;
    background-repeat: no-repeat;
    background-size: cover;
}


.p_center {
    display: block;
    max-height: 100%;
    max-width: 100%;
    width: auto;
    height: auto;
    /*overflow: hidden;*/
    object-fit: cover;
    /*animation: showSoftly 0.5s;*/
}

#figureImage {
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    top: 5px;
    bottom: 0;
    z-index: 2;
    /*animation: showSoftly 0.5s;*/
    /*min-width: 600px;*/
    /*overflow: hidden;*/
}

#controlBar {
    position: absolute;
    bottom: 5px;
    display: flex;
    justify-content: center;
    width: 100%;
    z-index: 4;
}

.controlButton {
    /*border-bottom: 3px solid #FEDFE1;*/
    /*background-color: #FEDFE1;*/
    padding: 3px 5px 3px 5px;
    margin: 0 7px 0 7px;
    /*border-radius: 5px;*/
    color: #f5f5f7;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    animation: controlButtonHoverBack 0.5s;
    cursor: pointer;
    text-align: center;
}

.controlButton:hover {
    animation: controlButtonHover 0.5s;
    background-color: rgba(255, 255, 255, 0.25);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.65);
}

.controlButtonText{
    font-size: 70%;
    text-align: center;
}


.singleWord {
    animation: showSoftly 0.5s;
}


#chooseBox {
    position: absolute;
    top: 30%;
    bottom: 30%;
    left: 15px;
    right: 15px;
    display: none;
    z-index: 5;
    /*background-color: rgba(0, 0, 0, 0.1);*/
    /*background-image: linear-gradient(rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 75%, rgba(255, 255, 255, 0.3) 100%);*/
    /*border-radius: 15px;*/
    animation: showSoftly 0.5s;
    justify-content: center;

}

.singleChoose {
    background-color: #FEDFE1;
    color: #8E354A;
    padding: 20px 15px 20px 15px;
    min-width: 30vw;
    margin: 10px 0 10px 0;
    border: 2px solid #8E354A;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.8);
    text-align: center;
    border-radius: 15px;
    font-size: 185%;
    cursor: pointer;
}

.singleChoose:hover {
    background-color: rgba(255, 255, 255, 1);
    font-weight: bold;
}

#Title {
    /*width: 100vw;*/
    /*height: 100%;*/
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 11;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #f5f5f7;
}

#TitleModel {
    padding: 0 0 0 0;
    position: absolute;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.35);
    /*left:30%;*/
    /*width: 100vw;*/
    /*height: 13%;*/
    /*background-color: rgba(255,255,255,0.3);*/
    /*background-image: linear-gradient(rgba(255,255,255,0) 0%,rgba(255,255,255,0.35) 50%,rgba(255,255,255,0.5)100%);*/
    z-index: 12;
    width: 100%;
    animation: TitleModelNoneHover 1s;
}

#TitleModel:hover {
    animation: TitleModelHover 1s;
    background-color: rgba(0, 0, 0, 0.65);
}

.TitleSingleButton {
    font-family: Georgia, serif;
    /*fonts-weight: bold;*/
    padding: 10px 15px 10px 15px;
    text-shadow: 0 0 15px rgba(0, 0, 0, 0.8);
    margin: 3px 0 3px 0;
    /*border-top: 2px solid #8E354A;*/
    color: rgba(255, 255, 255, 0.9);
    /*width: 15%;*/
    text-align: center;
    animation: TitleButtonNoneChoose 0.75s;
    /*border: 1px solid rgba(0,0,0,0.2);*/
    /*border-radius: 7px;*/
    /*box-shadow: 2px 2px 7px rgba(0,0,0,0.3);*/
    cursor: pointer;
    letter-spacing: 3px;
    /*border-right: 4px solid #8E354A;*/
    /*border-left: 4px solid #8E354A;*/
    /*box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.1);*/
    /*background-image: linear-gradient(to right,rgba(0,0,0,0) 0% ,rgba(0,0,0,0) 25% ,rgba(0,0,0,0.12) 40%,rgba(0,0,0,0.12) 60%,rgba(0,0,0,0) 75% ,rgba(0,0,0,0) 100%);*/
    /*text-shadow: 0 0 15px rgba(255,255,255,0.5);*/
}

.TitleSingleButton:hover {
    /*background-color: rgba(0,0,0,0.2);*/
    animation: TitleButtonOnChoose 0.75s;
    transform: scale(1.1, 1.1);
    color: rgba(255, 255, 255, 1);
    text-shadow: 0 0 15px rgba(255, 255, 255, 1);
}

.TitleButtonENG {
    padding: 0 10px 0 10px;
    font-size: 90%;
    text-align: center;
    border-bottom: 2px solid rgba(255, 255, 255, 1);
}

.TitleSingleButton:hover > .TitleButtonENG {
    border-bottom: 2px solid rgba(255, 255, 255, 1);
}

.TitleButtonCHN {
    font-weight: bolder;
    font-size: 80%;
    font-family: 思源宋体, serif;
    text-align: center;
}

#leftTitleButton {
    border-top: none;
}


#setButtonBottom {
    position: relative;
    display: flex;
    justify-content: center;
    text-align: center;
    /*top: 15px;*/
    width: 100%;
    font-size: 200%;

    /*flex-flow: column;*/
    /*background: linear-gradient(to right,rgba(255,255,255,0) 0%,rgba(255,255,255,0.1) 15%,rgba(255,255,255,0.3) 35%,rgba(255,255,255,0.3) 65%,rgba(255,255,255,0.1) 85%,rgba(255,255,255,0) 100%);*/
}


#MesModel {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 20;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.25);
    display: none;
}

.MesMainWindow {
    background-color: rgba(255, 255, 255, 1);
    color: black;
    position: relative;
    top: 35%;
    left: 35%;
    width: 30%;
    /*height: 30%;*/
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}

.MesTitle {
    text-align: center;
    padding: 20px 5px 5px 5px;
    font-size: 125%;
}

.MesChooseContainer {
    font-weight: bold;
    position: relative;
    bottom: 15px;
    text-align: center;
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 20px 0 0 0;
}

.MesChoose {
    font-weight: normal;
    padding: 5px 10px 5px 10px;
    text-align: center;
    color: #8E354A;
    margin: 0 10px 0 10px;
    border-bottom: 2px solid #8E354A;
    cursor: pointer;
}

.MesChoose:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

a {
    color: #8E354A;
}

a:hover {
    color: #FEDFE1;
}

a:visited {
    color: #8E354A;
}

.p_left {
    display: block;
    max-height: 100%;
    max-width: 100%;
    width: auto;
    height: auto;
    /*overflow: hidden;*/
    object-fit: cover;
    /*animation: showSoftly 0.5s;*/
}

#figureImage_left {
    left: 2%;
    width: 98%;
    position: absolute;
    display: flex;
    justify-content: left;
    top: 5px;
    bottom: 0;
    z-index: 2;
    /*animation: showSoftly 0.5s;*/
    /*min-width: 600px;*/
    /*overflow: hidden;*/
}

.p_right {
    display: block;
    max-height: 100%;
    max-width: 100%;
    width: auto;
    height: auto;
    /*overflow: hidden;*/
    object-fit: cover;
    /*animation: showSoftly 0.5s;*/
    float: right;
}

#figureImage_right {
    right: 2%;
    /*width: 98%;*/
    position: absolute;
    display: flex;
    /*justify-content: right;*/
    top: 5px;
    bottom: 0;
    z-index: 2;
    /*animation: showSoftly 0.5s;*/
    float: right;
    /*min-width: 600px;*/
    /*overflow: hidden;*/
    padding: 0 0 0 0;
}

#backlog {
    color: #1d1d1f;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
    z-index: 14;
    /*background-color: rgba(0,0,0,0.5);*/
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.55) 15%, rgba(0, 0, 0, 0.55) 82%, rgba(0, 0, 0, 0) 100%);
    /*border-radius: 15px;*/
    animation: showSoftly 0.5s;
    padding: 0 0 0 0;
}

#blTitle {
    color: #f5f5f7;
    padding: 5px 5px 5px 5px;
    font-size: xx-large;
}

#closeBl {
    padding: 10px 10px 10px 10px;
}

#backlogContent {
    position: absolute;
    bottom: 5px;
    display: flex;
    flex-flow: column-reverse;
    width: 100%;
    padding: 0 5% 0 0;
    height: 85%;
    overflow: scroll;
}

.backlog_singleElement {
    font-size: larger;
    padding: 10px 0 10px 0;
    width: 70%;
    height: 120px;
    display: flex;
    /*background-image: linear-gradient(to right, rgba(255,255,255,0.7) 0%,rgba(255,255,255,0.6) 60%,rgba(0,0,0,0) 100%);*/
    margin: 0 15% 20px 15%;
    border-top: 2px solid rgba(255, 255, 255, 0.8);
    animation: elementFadeIn 1s;
    /*border-bottom: 3px solid #8E354A;*/
    /*box-shadow: 0 2px 15px rgba(255,255,255,0.3);*/
}

.backlog_interact {
    width: 15%;
    padding: 15px 0 0 0;
    float: left;
}

.backlog_content {
    /*border-top: 1px solid rgba(255,255,255,1);*/
    width: 60%;
}

.backlog_interact_button {
    padding: 5px 15px 5px 15px;
    margin: 0 15px 10px 0;
    border: 2px solid #f5f5f7;
    box-shadow: 3px 3px 10px rgba(255, 255, 255, 0.4);
    background: rgba(254, 223, 225, 0.2);
    color: #f5f5f7;
    border-radius: 5px;
    text-align: center;
    float: right;
    font-size: 85%;
    cursor: pointer;
}

.backlog_interact_button:hover {
    background: #8E354A;
    /*color: #8E354A;*/
    border: 2px solid #FEDFE1;
    box-shadow: 3px 3px 10px rgba(255, 255, 255, 0.6);
}

.vocalIcon {
    padding: 2px 0 0 0;
    height: 25px;
    width: 25px;
}

.returnIcon {
    padding: 5px 0 0 0;
    height: 22px;
    width: 22px;
}


.backlog_singleElement:hover {
    /*background-color: rgba(255,255,255,0.2);*/
}

.backlog_name {
    font-size: 150%;
    width: 25%;
    position: relative;
    bottom: 2px;
    height: 30px;
    /*color: #8E354A;*/
    color: #f5f5f7;
    padding: 15px 0 0 25px;
    text-shadow: 2px 2px 7px rgba(0, 0, 0, 0.2);
    text-align: left;
    font-family: 思源宋体, serif;
    font-weight: bold;
}

.backlog_text {
    /*fonts-weight: bold;*/
    padding: 15px 0 0 15px;
    /*color: #0F2540;*/
    color: #f5f5f7;
    font-size: 135%;
    text-shadow: 2px 2px 13px rgba(0, 0, 0, 0.3);
    font-family: 思源宋体, serif;
    /*text-shadow: 2px 2px 5px rgba(255,255,255,0.55);*/
    /*-webkit-text-stroke: 0.15px #f5f5f7;*/
}

#top_control {
    position: absolute;
    top: 26px;
    z-index: 4;
    width: 100%;
    padding: 0 150px 0 0;
}

#WG_startPage {
    width: 100%;
    height: 55vh;
    text-align: center;
    line-height: 100%;
    position: absolute;
    z-index: 25;
    background-color: rgba(0, 0, 0, 0.5);
    /*background-image: url("./game/background/Loading_img.jpg");*/
    background-size: cover;
    color: #FEDFE1;
    font-size: 225%;
    padding: 45vh 0 0 0;
}

.videoContainer_styl {
    position: absolute;
    z-index: 25;
    width: 100%;
    height: 100%;
    display: none;
    background-color: rgba(0, 0, 0, 1);
    justify-content: center;
}

#video_show {
    max-width: 100%;
    max-height: 100%;
    object-fit: fill;
}