.newButton{
    margin: 0 15px 7px 0;
    cursor: pointer;
    color: rgba(225,225,225,1);
}

.newButton:hover{
    background-color: rgba(255,255,255,0.195);
    box-shadow: 0 0 25px rgba(255,255,255,0.5);
}

.nB_left{
    border-right: none;
    padding: 1px 7px 1px 7px;
    /*border-radius: 5px 5px 5px 5px;*/
    color: white;
    /*fonts-weight: bold;*/
    opacity: 0.8;
}

.nB_left:hover{

}


.nB_right{
    border-left:none;
    padding: 1px 5px 1px 5px;
    border-radius: 0 5px 5px 0;
}

.nB_right:hover{

}

.toCenter{
    display: flex;
    justify-content: center;
}

.top_button{
    float: right;
    margin: 0 25px 0 0;
    cursor: pointer;
}
.top_button:hover{
    background-color: rgba(255,255,255,0.15);
    box-shadow: 0 0 25px rgba(255,255,255,0.5);
}

#miniAvatar{
    position: absolute;
    bottom: 0;
    left: 0;
    height: 210px;
    width: 210px;
    z-index: 3;
    padding: 0 0 0 0;
    margin: 0 0 0 0 ;
}

.miniAvatar_pic{
    position: absolute;
    left: 0;
    bottom: 0;
    max-height: 20vw;
    max-width: 20vw;
    object-fit: cover;
}
