.extra_main {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(218, 218, 218);
  opacity: 0;
  animation: extra_main_show var(--ui-transition-duration) cubic-bezier(0.215, 0.610, 0.355, 1) forwards;
}

@keyframes extra_main_show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.extra_main_hide {
  pointer-events: none;
  animation: extra_main_hide var(--ui-transition-duration) cubic-bezier(0.215, 0.610, 0.355, 1) forwards;
}

@keyframes extra_main_hide {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.extra_bar {
  position: absolute;
  display: flex;
  width: 100%;
  background: linear-gradient(to bottom, rgb(218, 218, 218, 1), rgba(218, 218, 218, 0));
  padding: 2vmin;
  gap: 2vmin;
  z-index: 2;
  pointer-events: none;
}

.extra_bar_button {
  cursor: pointer;
  pointer-events: all;
  display: flex;
  flex-shrink: 0;
  min-width: 10vmin;
  min-height: 10vmin;
  max-height: 10vmin;
  align-items: center;
  justify-content: center;
  text-wrap: nowrap;
  text-align: center;
  transition: background-color 0.5s cubic-bezier(0.215, 0.610, 0.355, 1);
  border-radius: 5vmin;
  color: rgb(68, 68, 68);
  font-size: 3.5vmin;
  font-weight: 500;
  padding: 1vmin 2.5vmin;
  gap: 1vmin;
  
  &:hover {
    background-color: rgba(255, 255, 255, 0.5);
    transition: background-color 0s;
  }
  &:nth-child(2) {
    flex-shrink: 1;
  }
  &:nth-child(3) {
    margin-left: auto;
  }
}

.extra_bar_button_icon {
  line-height: 0;
  font-size: 120%;
}

.extra_bar_button_text {
  display: flex;
  overflow: hidden;
  padding: 0 1vmin;
}

.extra_bar_button_active {
  background-color: rgb(233, 233, 233);
  box-shadow: 0 0.5vmin 0vmin rgb(199, 199, 199);

  &:hover {
    background-color: rgb(240, 240, 240);
  }
}

.extra_container {
  display: flex;
  flex-flow: column;
  width: 100%;
  height: 100%;
}

.extra_filter_panel {
  z-index: 3;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.479);
  opacity: 0;
  animation: extra_filter_panel_show var(--ui-transition-duration) cubic-bezier(0.215, 0.610, 0.355, 1) forwards;
}

@keyframes extra_filter_panel_show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.extra_filter_panel_hide {
  pointer-events: none;
  animation: extra_filter_panel_hide var(--ui-transition-duration) cubic-bezier(0.215, 0.610, 0.355, 1) forwards;
}

@keyframes extra_filter_panel_hide {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.extra_filter_panel_list {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 80%;
  width: auto;
  height: 100%;
  background-color: rgba(218, 218, 218, 1);
  padding: 2vmin;
  gap: 2vmin;
  overflow: auto;
  animation: extra_filter_panel_list_show var(--ui-transition-duration) cubic-bezier(0.215, 0.610, 0.355, 1) forwards;
  outline: none;
}

@keyframes extra_filter_panel_list_show {
  0% {
    transform: translateX(-50vmin);
  }
  100% {
    transform: translateX(0);
  }
}

.extra_filter_panel_list_button {
  cursor: pointer;
  display: flex;
  min-width: 50vmin;
  min-height: 10vmin;
  align-items: center;
  text-align: center;
  background-color: rgb(233, 233, 233);
  transition: background-color 0.5s cubic-bezier(0.215, 0.610, 0.355, 1);
  box-shadow: 0 0.5vmin 0vmin rgb(199, 199, 199);
  border-style: solid;
  border-width: 1vmin;
  border-color: rgba(255, 255, 255, 0);
  border-radius: 5vmin;
  color: rgb(68, 68, 68);
  font-size: 3.5vmin;
  font-weight: 500;
  padding: 1vmin 4vmin;
  
  &:hover {
    background-color: rgb(255, 255, 255);
    transition: background-color 0s;
  }
}

.extra_filter_panel_list_button_active {
  background-color: rgb(52, 114, 185);
  box-shadow: 0 0.5vmin 0vmin rgb(74, 105, 190);
  border-color: rgb(83, 140, 206);
  color: rgb(255, 255, 255);
  text-shadow: 0 0.3vmin 0vmin rgb(8, 76, 139);

  &:hover {
    background-color: rgb(66, 123, 189);
  }
}

.extra_bgm_main {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.extra_bgm_list {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 14vmin 2vmin 2vmin 2vmin;
  overflow: auto;
  outline: none;
}

.extra_bgm_element {
  cursor: pointer;
  display: flex;
  align-items: flex-start;
  width: 100%;
  padding: 2vmin 8vmin;
  transition: background-color 0.5s cubic-bezier(0.215, 0.610, 0.355, 1);
  color: rgb(68, 68, 68);
  font-size: 3.5vmin;
  font-weight: 500;
  border-radius: 3vmin;
  gap: 4vmin;
  opacity: 0;
  animation: extra_bgm_element_show var(--ui-transition-duration) cubic-bezier(0.215, 0.610, 0.355, 1) calc(var(--ui-transition-duration) / 10 * var(--extra-bgm-element-index)) forwards;

  &:hover {
    background-color: rgba(255, 255, 255, 0.5);
    transition: background-color 0s;
  }
}

@keyframes extra_bgm_element_show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.extra_bgm_element_active {
  z-index: 1;
  background-color: rgb(240, 240, 240);
  box-shadow: 0 0.5vmin 1vmin rgba(0, 0, 0, 0.1);

  &:hover {
    background-color: rgb(255, 255, 255);
  }
}

.extra_bgm_element_series {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  width: 30%;
  color: rgb(49, 89, 141);
  text-align: end;
  text-wrap: wrap;
  white-space: pre-wrap;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.extra_bgm_element_name {
  display: flex;
  width: 70%;
  text-wrap: wrap;
  white-space: pre-wrap;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.extra_bgm_player {
  display: flex;
  flex-wrap: wrap;
  padding: 2vmin;
  gap: 2vmin;
  background-color: rgb(233, 233, 233);
}

.extra_bgm_player_name {
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(68, 68, 68);
  font-size: 4vmin;
  font-weight: 500;
  padding: 0 4vmin;
}

.extra_bgm_player_button_list {
  display: flex;
  gap: 2vmin;
  margin-left: auto;
}

.extra_bgm_player_button {
  cursor: pointer;
  display: flex;
  min-width: 10vmin;
  min-height: 10vmin;
  align-items: center;
  justify-content: center;
  text-align: center;
  
  background-color: rgb(52, 114, 185);
  transition: background-color 0.5s cubic-bezier(0.215, 0.610, 0.355, 1);
  box-shadow: 0 0.5vmin 0vmin rgb(74, 105, 190);
  border-color: rgb(83, 140, 206);
  border-style: solid;
  border-width: 1vmin;
  border-radius: 5vmin;
  color: rgb(255, 255, 255);
  text-shadow: 0 0.3vmin 0vmin rgb(8, 76, 139);
  font-size: 3.5vmin;
  font-weight: 500;
  padding: 1vmin 2vmin;
  
  &:hover {
    background-color: rgb(66, 123, 189);
    transition: background-color 0s;
  }
}

.extra_bgm_player_button_icon {
  line-height: 0;
  font-size: 120%;
}

.extra_cg_full_screen {
  position: absolute;
  z-index: 2;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  animation: extra_cg_full_screen_show var(--ui-transition-duration) cubic-bezier(0.215, 0.610, 0.355, 1) forwards;
}

@keyframes extra_cg_full_screen_show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.extra_cg_full_screen_hide {
  pointer-events: none;
  animation: extra_cg_full_screen_hide var(--ui-transition-duration) cubic-bezier(0.215, 0.610, 0.355, 1) forwards;
}

@keyframes extra_cg_full_screen_hide {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.extra_cg_full_screen_image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.extra_cg_full_screen_video {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.extra_cg_full_screen_media {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.extra_cg_full_screen_video {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.extra_cg_full_screen_bar {
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  padding: 2vmin;
  gap: 2vmin;
  pointer-events: none;
}

.extra_cg_full_screen_bar_button {
  cursor: pointer;
  pointer-events: all;
  display: flex;
  flex-shrink: 0;
  min-width: 10vmin;
  min-height: 10vmin;
  max-height: 10vmin;
  align-items: center;
  justify-content: center;
  text-wrap: nowrap;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  transition: background-color 0.5s cubic-bezier(0.215, 0.610, 0.355, 1);
  border-radius: 5vmin;
  color: rgb(233, 233, 233);
  font-size: 3.5vmin;
  font-weight: 500;
  padding: 1vmin 2.5vmin;
  gap: 1vmin;
  
  &:hover {
    background-color: rgba(127, 127, 127, 0.5);
    transition: background-color 0s;
  }
}

.extra_cg_full_screen_bar_button_icon {
  line-height: 0;
  font-size: 120%;
}

.extra_cg_main {
  display: flex;
  width: 100%;
  height: 100%;
}

.extra_cg_container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  overflow: auto;
  padding: 14vmin 2vmin 2vmin 2vmin;
}

.extra_cg_element {
  position: relative;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  width: auto;
  height: auto;
  border-style: solid;
  border-width: 0.5vmin;
  border-color: rgba(218, 218, 218, 1);
  opacity: 0;
  scale: 1;
  z-index: 0;
  animation: extra_cg_element_show var(--ui-transition-duration) cubic-bezier(0.215, 0.610, 0.355, 1) calc(var(--ui-transition-duration) / 10 * var(--extra-cg-element-index)) forwards;

  &:hover {
    border-color: rgb(65, 163, 255);
  }
}

@keyframes extra_cg_element_show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.extra_cg_element_video {
  display: flex;
  width: auto;
  height: 25vmin;
  background-size: cover;
  background-position: center;
}

.extra_cg_element_image {
  display: flex;
  width: auto;
  height: 25vmin;
  background-size: cover;
  background-position: center;
}

.extra_cg_element_media {
  display: flex;
  width: 30vmin;
  height: 30vmin;
  background-size: cover;
  background-position: center;
}

.extra_cg_element_info {
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 1vmin 2vmin;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%);
}

.extra_cg_element_name {
  display: flex;
  color: rgb(255, 255, 255);
  text-shadow: 0 0.3vmin 1vmin rgba(0, 0, 0, 0.5);
  font-size: 3.5vmin;
  font-weight: 500;
}

.extra_cg_element_series {
  display: flex;
  color: rgb(255, 255, 255, 0.9);
  text-shadow: 0 0.3vmin 1vmin rgba(0, 0, 0, 0.5);
  font-size: 2.5vmin;
  font-weight: 500;
}
