.Title_main {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 13;
}

.Title_buttonList {
  display: flex;
  position: absolute;
  left: 0;
  min-width: 25%;
  height: 60%;
  justify-content: center;
  align-items: flex-start;
  flex-flow: column;
  transition: background 0.75s;
  padding-left: 30px;
  background: linear-gradient(to right top, rgba(1, 25, 48, 0.1), rgba(1, 25, 48, 0.05), rgba(1, 25, 48, 0));
  background-color: transparent;
  border-radius: 0% 25% 25% 0;
}

.Title_button {
  font-weight: bold;
  text-align: center;
  flex: 0 1 auto;
  cursor: pointer;
  transition: all 0.33s;
  border-radius: 4px;
  transform: skewX(-10deg);
  display: flex;
  align-items: center;
  filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.322));
}

.Title_button:hover {
  text-shadow: 0 0 10px rgba(255, 255, 255, 1);
  padding-left: 1em;
}

.Title_button_text {
  font-size: 165%;
  color: #fbfbfb;
  padding: 0 0.5em 0 0.5em;
  letter-spacing: 0.2em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  filter: drop-shadow(0px 0px 1px rgba(0, 0, 0, 0.3));
}

.Title_button_subTitle {
  font-size: 50%;
  color: #fbfbfb;
  padding: 0 0.5em 0 0.5em;
  letter-spacing: 0.2em;
  font-family: 'Monomaniac One', serif;
  filter: drop-shadow(0px 0px 1px rgba(0, 0, 0, 0.3));
}

.Title_backup_background {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 13;
  background: linear-gradient(135deg, #fdfbfb 0%, #dcddde 100%);
}

.Title_button_disabled {
  cursor: not-allowed !important;
  opacity: 0.5;
}
