.title_main {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  align-items: flex-end;
  opacity: 0;
  animation: title_main_show var(--ui-transition-duration) cubic-bezier(0.215, 0.610, 0.355, 1) forwards;
  container-type: size;
}

@keyframes title_main_show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.title_main_hide {
  pointer-events: none;
  animation: title_main_hide var(--ui-transition-duration) cubic-bezier(0.215, 0.610, 0.355, 1) forwards;
}

@keyframes title_main_hide {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.title_background {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  animation: title_background_show 2s cubic-bezier(0.215, 0.610, 0.355, 1) forwards;
}

@keyframes title_background_show {
  0% {
    scale: 1.1;
  }
  100% {
    scale: 1;
  }
}

.title_button_list {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 4vmin;
  margin-bottom: 4vmin;
  gap: 2vmin;
}

.title_button {
  cursor: pointer;
  position: relative;
  z-index: 0;
  display: flex;
  align-items: center;
  width: 100%;
  height: 10vmin;
  background-color: rgba(255, 255, 255, 0.75);
  backdrop-filter: saturate(3) blur(3vmin);
  box-shadow: 0 0.5vmin 0vmin rgb(0, 0, 0, 0.25);
  transition: background-color 0.5s cubic-bezier(0.215, 0.610, 0.355, 1);
  border-radius: 3vmin 3vmin 6vmin 3vmin;
  border-style: solid;
  border-width: 1vmin;
  border-color: rgba(255, 255, 255, 0.5);
  color: rgb(45, 48, 80);
  font-size: 3.5vmin;
  font-weight: 500;

  &:hover {
    transition: background-color 0s;
    background-color: rgba(255, 255, 255, 0.9);
  }
}

.title_button_disabled {
  cursor: not-allowed !important;
  pointer-events: none;
  opacity: 0.5;
}

.title_button_icon {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  aspect-ratio: 1 / 1;
  line-height: 0;
  font-size: 120%;
}

.title_button_text {
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
  padding-right: 4vmin;
  margin-right: auto;
}
