#SettingsPanel {
    position: absolute;
    top: 20px;
    bottom: 20px;
    left: 45px;
    right: 45px;
    display: block;
    z-index: 15;
    background-color: rgba(255, 255, 255, 0.95);
    background-image: linear-gradient(rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 75%, rgba(255, 255, 255, 0.3) 100%);
    /*border-radius: 15px;*/
    -webkit-animation: showSoftly 0.5s;
    padding: 30px 30px 30px 30px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
}

#settingsMainBox {
    color: #8E354A;
    display: block;
    padding: 15px 15px 15px 15px;
    width: 100%;
    overflow: scroll;
}

.closeSVG {
    width: 45px;
    height: 45px;
}

#settingsTitle {
    font-size: 250%;
}

#textPreview {
    color: white;
    background-color: rgba(0, 0, 0, 0.4);
    font-size: medium;
    padding: 10px 10px 10px 10px;
    margin: 10px 10px 10px 10px;
    border: 3px solid rgba(255, 255, 255, 1);
    width: 95%;
    min-height: 20vh;
}

#textPreview * {
    transition: all .5s ease-in-out;
    animation: showSoftly .2s;
    -webkit-animation: showSoftly .2s;
}

#previewDiv {
    width: 100%;
}

.deleteCookie {
    margin: 15px 0 15px 0;
    width: auto;
}

.deleteCookie:hover {
    color: rgba(0, 0, 0, 0.8);
    background-color: rgba(0, 0, 0, 0.1);
}