@font-face {
  font-family: 'Monomaniac One'; /* 字体名称 */
  src: url('@/assets/fonts/MonomaniacOne-Regular.ttf') format('truetype');
  font-weight: 600; /* 字体粗细 */
  font-style: normal; /* 字体样式 */
}

.GlobalDialog_main {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 20;
  background: rgba(15, 37, 64, 0.39);
  color: white;
  opacity: 0.5;
  animation: showGlobalDialog 0.33s forwards;
  display: flex;
  justify-content: center;
  align-items: center;
}

.glabalDialog_container_inner {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  background-color: #c76a4bee;
  padding: 1em 5em 1.5em 5em;
}

.glabalDialog_container {
  height: 25%;
  width: 100%;
  border-top: 4px solid;
  border-bottom: 4px solid;
  position: relative;
  overflow: hidden;
  //padding: 1px 1px 1px 1px;
}

.decorate {
  position: absolute;
  width: 600px;
  height: 600px;
  left: -21px;
  top: -96px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #d9d9d95e;
}

.decorate_symbol {
  font-size: 6em;
  color: #ffffff;
  font-family: 'Monomaniac One';
}

.title {
  font-size: 300%;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

.button_list {
  display: flex;
  margin: auto 0 0 0;
}

.button {
  font-size: 200%;
  padding: 0.2em 1.5em 0.15em 1.5em;
  margin: 0.2em 1em 0.2em 1em;
  cursor: pointer;
  transition: background-color 0.33s, color 0.33s, font-weight 0.33s, transform 0.33s;
  text-shadow: 0 0 10px rgb(255, 255, 255);
  border-radius: 4em;
  color: #2e2e2e;
  background-color: rgb(205 205 205 / 90%);
}

.button:hover {
  background: rgba(255, 255, 255, 0.9);
}

@keyframes showGlobalDialog {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
