.global_dialog_main {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.75);
  opacity: 0;
  animation: global_dialog_main_show var(--ui-transition-duration) cubic-bezier(0.215, 0.610, 0.355, 1) forwards;
  color: white;
  pointer-events: all;
}

@keyframes global_dialog_main_show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.global_dialog_main_hide {
  pointer-events: none;
  animation: global_dialog_main_hide var(--ui-transition-duration) cubic-bezier(0.215, 0.610, 0.355, 1) forwards;
}

@keyframes global_dialog_main_hide {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.global_dialog_popup {
  display: flex;
  flex-direction: column;
  background-color: rgb(218, 218, 218);
  box-shadow: 0 0.5vmin 0vmin rgba(0, 0, 0, 0.25);
  border-style: solid;
  border-width: 1vmin;
  border-color: rgb(233, 233, 233);
  border-radius: 6vmin;
  min-width: 50vmin;
  min-height: 25vmin;
  max-width: 90%;
  max-height: 90%;
  width: auto;
  height: auto;
  overflow: hidden;
  animation: global_dialog_popup_show var(--ui-transition-duration) cubic-bezier(0.215, 0.610, 0.355, 1) forwards;
}

@keyframes global_dialog_popup_show {
  0% {
    transform: translateY(10%);
  }
  100% {
    transform: translateY(0);
  }
}

.global_dialog_title {
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
  justify-content: center;
  font-size: 4vmin;
  color: rgb(68, 68, 68);
  padding: 4vmin 8vmin;
  text-wrap: wrap;
  font-weight: 500;
}

.global_dialog_button_list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10vmin, 1fr));
  justify-content: flex-end;
  gap: 2vmin;
  padding: 2vmin;
}

.global_dialog_button {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  text-align: center;
  text-wrap: nowrap;
  background-color: rgb(52, 114, 185);
  box-shadow: 0 0.5vmin 0vmin rgb(74, 105, 190);
  border-style: solid;
  border-width: 1vmin;
  border-color: rgb(83, 140, 206);
  border-radius: 5vmin;
  color: rgb(255, 255, 255);
  font-size: 4vmin;
  font-weight: 500;
  text-shadow: 0 0.3vmin 0vmin rgb(8, 76, 139);
  padding: 1vmin 8vmin;

  &:hover {
    background-color: rgb(66, 123, 189);
  }
}
