.customHtmlContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  z-index: 9999;
}

.customHtmlItem {
  position: absolute;
  pointer-events: auto;
  z-index: 10001;
} 