.TextBox_main {

}

.TextBox_textElement_start {

}

.TextBox_textElement_Settled {

}

.text {

}

.outer {

}

.inner {

}

.TextBox_showName {

}

.outerName {

}

.innerName {

}

.miniAvatarContainer {

}

.miniAvatarImg {

}

@keyframes showSoftly {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes TextDelayShow {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
