.translation_main {
  height: 100%;
  width: 100%;
  background: rgba(15, 37, 64, 0.39);
  backdrop-filter: blur(4vmin);
  position: absolute;
}

.translation_main_hide {
  pointer-events: none;
  animation: translation_main_hide 0.5s forwards;
}

@keyframes translation_main_hide {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.translation_button_list {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  border-radius: 4vmin;
  overflow: hidden;
  gap: 2vmin;
}

.translation_button {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 70vmin;
  text-align: center;
  background-color: rgb(52, 114, 185);
  box-shadow: 0 0.5vmin 0vmin rgb(74, 105, 190);
  border-style: solid;
  border-width: 1vmin;
  border-color: rgb(83, 140, 206);
  border-radius: 5vmin;
  color: rgb(255, 255, 255);
  font-size: 4vmin;
  font-weight: 500;
  text-shadow: 0 0.3vmin 0vmin rgb(8, 76, 139);
  padding: 1vmin 8vmin;

  &:hover {
    background-color: rgb(66, 123, 189);
  }
}
