.Backlog_main {
    font-family: "思源宋体", serif;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background: rgba(0, 0, 0, 0.65);
    padding: 2em 0 2em 0;
    animation: backlog_soft_in 0.7s ease-out forwards;
    box-sizing: border-box;
}


.backlog_top {
    padding: 0 0 0 1em;
    display: flex;
    height: 10%;
}

.backlog_top_icon {
    padding: 10px 10px 0 10px;
    border-radius: 50px;
    transform: translate(0, -11px);
}

.backlog_top_icon:hover {
    background: rgba(255, 255, 255, 0.25);
    animation: backlog_icon_softin 0.25s ease-out forwards;
}

@keyframes backlog_icon_softin {
    0% {
        background: rgba(255, 255, 255, 0);
    }
    100% {
        background: rgba(255, 255, 255, 0.25);
    }
}


.backlog_title {
    height: 100%;
    line-height: 100%;
    font-size: 360%;
    font-weight: bold;
    color: transparent;
    background: linear-gradient(150deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 35%, rgba(165, 212, 228, 1) 100%);
    -webkit-background-clip: text;
}

.backlog_content {
    position: absolute;
    height: 80%;
    padding: 1em 5.6em 1em 5.6em;
    overflow: auto;
    display: flex;
    flex-flow: column-reverse;
    font-weight: normal;
    width: 100%;
    box-sizing: border-box;
}


.backlog_item {
    display: flex;
    color: white;
    font-size: 165%;
    opacity: 0;
    animation: backlog_item_in 0.5s ease-out forwards;
    margin: 1.25em 0 0 0;
    width: 100%;
}

.backlog_item_content {
    //display: flex;
    font-size: 115%;
    width: 100%;
}

.backlog_item_button_list {
    display: flex;
    padding: 0 2em 0 0.3em;
    flex-flow: row;
    align-items: flex-start;
}

.backlog_item_button_element {
    padding: 3px 17px 0 17px;
    margin: 0 0.3em 0 0.3em;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 7px;
    display: flex;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.1);
}

.backlog_item_button_element:hover {
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.3);
}

.backlog_item_content_name {
    //font-weight: bold;
    //color: transparent;
    //background: linear-gradient(150deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 55%, rgb(210, 243, 255) 100%);
    //-webkit-background-clip: text;
    //width: 20%;
    margin: 0 0 0 0;
    overflow-wrap: break-word;
    box-sizing: border-box;
}

.backlog_item_content_text {
    //width: 80%;
    box-sizing: border-box;
}


@keyframes backlog_soft_in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes backlog_item_in {
    0% {
        opacity: 0;
        transform: scale(1.05, 1.05) translate(-25px, -15px);
    }
    100% {
        opacity: 1;
        transform: scale(1, 1) translate(0, 0);
    }
}
