.yoozle_blue {
  color: #4285f4;
}

.yoozle_red {
  color: #db4437;
}

.yoozle_yellow {
  color: #f4b400;
}

.yoozle_green {
  color: #0f9d58;
}

.yoozle_e_rotate {
  display: inline-block;
  transform: rotate(-12deg);
}

.yoozle_container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.yoozle_title {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 80px;
  font-family: arial, sans-serif;
  font-size: 90px;
}

.yoozle_search {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 10px;
}

.yoozle_search_bar {
  width: 40%;
  line-height: 32px;
  font-family: arial, sans-serif;
  font-size: 18px;
}

.yoozle_search_buttons {
  padding-top: 13px;
}

.yoozle_button {
  background-color: #f8f9fa;
  border: 1px solid #f8f9fa;
  border-radius: 4px;
  color: #3c4043;
  font-family: arial, sans-serif;
  font-size: 14px;
  margin: 11px 4px;
  padding: 0 16px;
  line-height: 27px;
  height: 36px;
  min-width: 54px;
  text-align: center;
  cursor: pointer;
  user-select: none;
}

.yoozle_button:hover {
  box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
  border: 1px solid #dadce0;
  color: #202124;
}

.yoozle_button:focus {
  border: 1px solid #4285f4;
  outline: none;
}
