.textbox_main {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0 8vmin;
  gap: 2vmin;
  animation: textbox_main_show var(--ui-transition-duration) ease-out forwards;

  &::before {
    content: '';
    position: absolute;
    top: -50%;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to top, rgb(23, 23, 31), rgba(23, 23, 31, 0));
    opacity: var(--textbox-background-opacity);
  }
}

@keyframes textbox_main_show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.textbox_main_hide {
  pointer-events: none;
  animation: textbox_main_hide var(--ui-transition-duration) ease-out forwards;
}

@keyframes textbox_main_hide {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.textbox_mini_avatar {
  max-width: 35vmin;
  min-width: 35vmin;
  width: 35vmin;
  height: 0;
  animation: textbox_mini_avatar_show 0.25s cubic-bezier(0.215, 0.610, 0.355, 1) forwards;
}

@keyframes textbox_mini_avatar_show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.textbox_mini_avatar_image {
  transform: translateY(-100%);
}

.textbox_dialog {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  max-width: 150vmin;
}

.textbox_name_container {
  position: absolute;
  transform: translateY(-120%);
  display: flex;
}

.textbox_name_line {
  display: flex;
  flex-wrap: wrap;
  gap: 0.2vmin;
}

.textbox_name {
  display: flex;
  color: rgb(112, 191, 255);
  font-size: 4.5vmin;
  font-weight: 700;
}

.textbox_name_bellow {
  position: absolute;
  -webkit-text-stroke: rgb(47, 47, 47);
  -webkit-text-stroke-width: 0.7vmin;
  text-shadow: rgb(47, 47, 47) 0 0.5vmin 1vmin;
}

.textbox_name_above {
  position: relative;
}

.textbox_text_container {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 20vmin;
  margin-bottom: 4vmin;
  width: 100%;
}

.textbox_text_line {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  gap: 0.2vmin;
}

.textbox_text {
  display: flex;
  color: rgb(233, 233, 233);
  font-weight: 600;
}

.textbox_text_small {
  font-size: 3.2vmin;
}

.textbox_text_medium {
  font-size: 4vmin;
}

.textbox_text_large {
  font-size: 5vmin;
}

.textbox_text_display {
  display: flex;
  opacity: 0;
  animation: textbox_text_display_show var(--textbox-text-display-duration) cubic-bezier(0.215, 0.610, 0.355, 1) forwards var(--textbox-text-display-delay);
}

@keyframes textbox_text_display_show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.textbox_text_display_settled {
  opacity: 1;
}

.textbox_text_bellow {
  position: absolute;
  -webkit-text-stroke: rgb(47, 47, 47);
  -webkit-text-stroke-width: 0.7vmin;
  text-shadow: rgb(47, 47, 47) 0 0.5vmin 1vmin;
}

.textbox_text_above {
  position: relative;
}
