.textbox_film_main {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: black;
  justify-content: center;
  opacity: 0;
  animation: textbox_film_main var(--ui-transition-duration) cubic-bezier(0.215, 0.610, 0.355, 1) forwards;
}

@keyframes textbox_film_main {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.textbox_film_main_hide {
  pointer-events: none;
  animation: textbox_film_main_hide var(--ui-transition-duration) cubic-bezier(0.215, 0.610, 0.355, 1) forwards;
}

@keyframes textbox_film_main_hide {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.textbox_film_text_container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  padding: 2vmin 8vmin;
}

.textbox_film_text {
  display: flex;
  color: rgb(255, 255, 255);
  font-weight: 600;
}

.textbox_film_text_small {
  font-size: 3.2vmin;
}

.textbox_film_text_medium {
  font-size: 4vmin;
}

.textbox_film_text_large {
  font-size: 5vmin;
}

.textbox_film_text_display {
  animation: textbox_film_text_display_show var(--textbox-text-display-duration) cubic-bezier(0.215, 0.610, 0.355, 1) forwards var(--textbox-text-display-delay);
  opacity: 0;
}

@keyframes textbox_film_text_display_show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.textbox_film_text_element_settled {
  opacity: 1;
}