@font-face {
    font-family: "思源宋体";
    /*noinspection CssUnknownTarget*/
    src: url("./fonts/SourceHanSerifSC-Regular.otf");
}

body {
    margin: 0;
    font-family: "思源宋体",-apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@media screen and (orientation: portrait) {
    /*竖屏 css*/
    #root {
        transform: rotate(90deg);
        transform-origin: calc(100vw / 2) calc(100vw / 2);
        width: 100vh;
        height: 100vw;
    }
}

@media screen and (orientation: landscape) {
    /*横屏 css*/
    #root {
        width: 100vw;
        height: 100vh;
    }
}

@media screen and (max-width: 960px){
    /*手机端视图*/
    #root {
        font-size: 65%;
    }
}