#Load{
    position: absolute;
    top: 15px;
    bottom: 15px;
    left: 15px;
    right: 15px;
    display: none;
    z-index: 14;
    background-color: rgba(0,0,0,0.5);
    background-image: linear-gradient(rgba(255,255,255,0) 0%,rgba(255,255,255,0) 75%,rgba(255,255,255,0.3)100%);
    /*border-radius: 15px;*/
    -webkit-animation: showSoftly 0.5s;
}

#LoadTitle{
    color: white;
    font-size: 250%;
    padding: 5px 10px 10px 10px ;
}

.LoadIndexButton{
    border: 2px solid #FEDFE1;
    border-radius: 5px ;
    font-size: large;
    color:white;
    padding: 5px 20px 5px 20px;
    margin: 0 5px 5px 5px;
}

#loadMainBox{
    height: 100%;

}

#LoadIndex{
    padding: 5px 5px 15px 5px;
    width: 98%;
    border-bottom: 2px solid #FEDFE1;
}

#LoadItems{
    padding: 10px 10px 10px 10px;
    height: 75%;
    display: flex;
    justify-items: center;
    justify-content: center;

}

.LoadIndexButton:hover{
    font-weight: bold;
    background-color: rgba(255,255,255,0.5);
    color: #8E354A;
    background-color: #FEDFE1;
}

.LoadIndexButtonOn{
    border: 2px solid #8E354A;
    border-radius: 5px ;
    font-size: large;
    color:#8E354A;
    padding: 5px 20px 5px 20px;
    margin: 0 5px 5px 5px;
    background-color: #FEDFE1;
    font-weight: bold;
}

#LoadMain{
    width: 100%;
    height: 90%;

}

.LoadSingleElement{
    width: 90%;
    height: 7vh;
    color: white;
    text-align: center;
    font-size: xx-large;
    padding: 10px 10px 10px 10px;
    border: 2px solid #FEDFE1;
    margin: 10px 5% 10px 3%;
    overflow: hidden;
    background-color: rgba(255,255,255,0.15);
}

#LoadButtonList{
    height: 100%;
    overflow: scroll;
    overflow-scrolling: auto;
}

::-webkit-scrollbar {display:none}

.LoadSingleElement:hover{
    background-color: #FEDFE1;
    width: 90%;
    color: #8E354A;
    text-align: center;
    font-size: xx-large;
    padding: 10px 10px 10px 10px;
    border: 2px solid #8E354A;
}

.LSE_top{
    font-size: 75%;
    text-align: left;
}

.LSE_index{
    border-right: 2px solid #FEDFE1;
    margin: 0 5px 0 0;
}
.LSE_bottom{
    text-align: left;
    font-size: 60%;
    overflow: hidden;
    padding: 0 0 10px 0;
}