/*清除默认边距*/
*{
    margin: 0;
    padding: 0;
}

#mainTextWindow{
    /*background-color: rgba(86,108,115,0.8);*/
    background-color: rgba(0,0,0,0.5);
    padding: 15px 15px 15px 15px;
    width: 100%;
    margin: 0 0 0 0;
    z-index: 3;
    background-image: linear-gradient(rgba(255,255,255,0) 0%,rgba(255,255,255,0) 75%,rgba(255,255,255,0.3)100%);
    /*box-shadow: 5px 5px 10px rgba(0,0,0,0.3);*/
    /*border-radius: 10px;*/
}



#bottomBox{
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 35%;
}
#SceneText{
    padding: 15px 0 0 0;
    color: white;
    font-size: xx-large;
}
#pName{
    color: white;
    font-size: x-large;
    /*background-color: rgba(255,255,255,0.7);*/
    padding: 3px 7px 3px 7px;
    border-radius: 5px;
    border-bottom: 1px solid rgba(255,255,255,0.5);
    width: 30%;
}

#mainBackground{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    background-repeat: no-repeat;
    background-size:cover;
}

.p_center{
    max-height: 100%;
    max-width: 100%;
    width: auto;
    height: auto;
}
#figureImage{
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    top:5px;
    bottom: 5px;
    z-index:2;
}

#controlBar{
    position: absolute;
    bottom: 5px;
    display: flex;
    justify-content: center;
    width: 100%;
    z-index: 4;
}

.controlButton{
    border-bottom: 3px solid #FEDFE1;
    /*background-color: #FEDFE1;*/
    padding: 3px 7px 3px 7px;
    margin: 0 5px 0 5px;
    /*border-radius: 5px;*/
    color: white;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.1);
}
.controlButton:hover{
    background-color: rgba(0,0,0,0.3);
}
.singleWord{
    -webkit-animation: showSoftly 0.5s;
}


@-webkit-keyframes showSoftly /* Safari 与 Chrome */
{
    from {opacity: 0;}
    to {opacity: 100%;}
}

#chooseBox {
    position: absolute;
    top: 30%;
    bottom: 30%;
    left: 15px;
    right: 15px;
    display: none;
    z-index: 5;
    /*background-color: rgba(0, 0, 0, 0.1);*/
    /*background-image: linear-gradient(rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 75%, rgba(255, 255, 255, 0.3) 100%);*/
    /*border-radius: 15px;*/
    -webkit-animation: showSoftly 0.5s;
    justify-content: center;

}

.singleChoose{
    background-color: #FEDFE1;
    color: #8E354A;
    padding: 25px 15px 25px 15px;
    width: 40vw;
    margin: 10px 0 10px 0;
    border: 2px solid #8E354A;
    text-align: center;
    border-radius: 15px;
    font-size: x-large;
}

.singleChoose:hover{
    background-color: rgba(255,255,255,1);
    font-weight: bold;
}