/*清除默认边距*/
*{
    margin: 0;
    padding: 0;
}

#mainTextWindow{
    /*background-color: rgba(86,108,115,0.8);*/
    background-color: rgba(0,0,0,0.5);
    padding: 15px 10% 15px 10%;
    width: 100%;
    margin: 0 0 0 0;
    z-index: 3;
    background-image: linear-gradient(rgba(255,255,255,0) 0%,rgba(255,255,255,0) 75%,rgba(255,255,255,0.3)100%);
    /*box-shadow: 5px 5px 10px rgba(0,0,0,0.3);*/
    /*border-radius: 10px;*/
}



#bottomBox{
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 35%;
}
#SceneText{
    padding: 15px 0 0 0;
    color: white;
    font-size: 200%;
    overflow: hidden;
    height: 60%;
}
#pName{
    color: white;
    font-size: x-large;
    /*background-color: rgba(255,255,255,0.7);*/
    padding: 3px 7px 3px 7px;
    /*border-radius: 5px;*/
    border-bottom: 2px solid rgba(255,255,255,0.5);
    width: 30%;
}

#mainBackground{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    background-repeat: no-repeat;
    background-size:cover;
    -webkit-animation: showSoftly 0.5s;
}

.p_center{
    display: block;
    max-height: 100%;
    max-width: 100%;
    width: auto;
    height: auto;
    /*overflow: hidden;*/
    object-fit: cover;
    -webkit-animation: showSoftly 0.5s;
}
#figureImage{
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    top:5px;
    bottom: 5px;
    z-index:2;
    -webkit-animation: showSoftly 0.5s;
    /*min-width: 600px;*/
    /*overflow: hidden;*/
}

#controlBar{
    position: absolute;
    bottom: 5px;
    display: flex;
    justify-content: center;
    width: 100%;
    z-index: 4;
}

.controlButton{
    border-bottom: 3px solid #FEDFE1;
    /*background-color: #FEDFE1;*/
    padding: 3px 7px 3px 7px;
    margin: 0 5px 0 5px;
    /*border-radius: 5px;*/
    color: white;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.1);
}
.controlButton:hover{
    background-color: rgba(0,0,0,0.3);
}
.singleWord{
    -webkit-animation: showSoftly 0.5s;
}


@-webkit-keyframes showSoftly /* Safari 与 Chrome */
{
    from {opacity: 0;}
    to {opacity: 100%;}
}

#chooseBox {
    position: absolute;
    top: 30%;
    bottom: 30%;
    left: 15px;
    right: 15px;
    display: none;
    z-index: 5;
    /*background-color: rgba(0, 0, 0, 0.1);*/
    /*background-image: linear-gradient(rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 75%, rgba(255, 255, 255, 0.3) 100%);*/
    /*border-radius: 15px;*/
    -webkit-animation: showSoftly 0.5s;
    justify-content: center;

}

.singleChoose{
    background-color: #FEDFE1;
    color: #8E354A;
    padding: 20px 15px 20px 15px;
    width: 30vw;
    margin: 10px 0 10px 0;
    border: 2px solid #8E354A;
    text-align: center;
    border-radius: 15px;
    font-size: xx-large;
}

.singleChoose:hover{
    background-color: rgba(255,255,255,1);
    font-weight: bold;
}

#Title{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 11;
    background-repeat: no-repeat;
    background-size:cover;
    background-color: white;
}

#TitleModel{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 13%;
    background-color: rgba(0,0,0,0.7);
    /*background-image: linear-gradient(rgba(255,255,255,1) 0%,rgba(255,255,255,0) 30%,rgba(255,255,255,0)100%);*/
    z-index: 12;
}

.TitleSingleButton{
    padding: 10px 10px 10px 10px;
    border-right: 2px solid #FEDFE1;
    color: white;
    width: 50%;
    text-align: center;
}

.TitleSingleButton:hover{
    background-color: rgba(255,255,255,0.2);
}

#leftTitleButton{
    border-left: 2px solid #FEDFE1;
}

#setButtonBottom{
    position: absolute;
    display: flex;
    justify-content: center;
    top: 15px;
    width: 100%;
    font-size: xx-large;
}

#MesModel{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 20;
    background-repeat: no-repeat;
    background-size:cover;
    background-color: rgba(0,0,0,0.25);
    display: none;
}

.MesMainWindow{
    background-color: rgba(255,255,255,1);
    color: black;
    position: relative;
    top: 35%;
    left:35%;
    width: 30%;
    height: 30%;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.3);
}
.MesTitle{
    text-align: center;
    padding: 30px 5px 5px 5px;
    font-size: 125%;
}

.MesChooseContainer{
    font-weight: bold;
    position: absolute;
    bottom: 15px;
    text-align: center;
    display: flex;
    justify-content: center;
    width: 100%;
}

.MesChoose{
    font-weight: normal;
    padding: 5px 10px 5px 10px;
    text-align: center;
    color: #8E354A;
    margin: 0 10px 0 10px;
    border-bottom: 2px solid #8E354A;
}

.MesChoose:hover{
    background-color: rgba(0,0,0,0.1);
}

a{
    color: #8E354A;
}

a:hover{
    color: #FEDFE1;
}

a:visited{
    color: #8E354A;
}

.p_left{
    display: block;
    max-height: 100%;
    max-width: 100%;
    width: auto;
    height: auto;
    /*overflow: hidden;*/
    object-fit: cover;
    -webkit-animation: showSoftly 0.5s;
}
#figureImage_left{
    left: 2%;
    width: 98%;
    position: absolute;
    display: flex;
    justify-content: left;
    top:5px;
    bottom: 5px;
    z-index:2;
    -webkit-animation: showSoftly 0.5s;
    /*min-width: 600px;*/
    /*overflow: hidden;*/
}
.p_right{
    display: block;
    max-height: 100%;
    max-width: 100%;
    width: auto;
    height: auto;
    /*overflow: hidden;*/
    object-fit: cover;
    -webkit-animation: showSoftly 0.5s;
}
#figureImage_right{
    right: 2%;
    width: 98%;
    position: absolute;
    display: flex;
    justify-content: right;
    top:5px;
    bottom: 5px;
    z-index:2;
    -webkit-animation: showSoftly 0.5s;
    /*min-width: 600px;*/
    /*overflow: hidden;*/
}

#backlog{
    color: white;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
    z-index: 14;
    background-color: rgba(0,0,0,0.5);
    background-image: linear-gradient(rgba(255,255,255,0) 0%,rgba(255,255,255,0) 75%,rgba(255,255,255,0.3)100%);
    /*border-radius: 15px;*/
    -webkit-animation: showSoftly 0.5s;
    padding: 15px 1% 15px 1%;
}

#blTitle{
    color: white;
    padding: 5px 5px 5px 5px;
    font-size: xx-large;
}

#backlogContent{
    position: absolute;
    bottom: 5px;
    display: flex;
    flex-flow: column-reverse;
    width: 88%;
    padding: 0 5% 0 5%;
    height: 86%;
    overflow: scroll;
}

.backlog_singleElement{
    font-size: larger;
    border-top: 1px solid rgba(255,255,255,1);
    padding: 10px 0 10px 0;
    width: 100%;
}

.backlog_singleElement:hover{
    background-color: rgba(255,255,255,0.2);
}

.backlog_name{
    font-size: larger;
}

.backlog_text{
    padding: 0 0 0 15px;
}