#settings{
    position: absolute;
    top: 15px;
    bottom: 15px;
    left: 15px;
    right: 15px;
    display: none;
    z-index: 5;
    background-color: rgba(0,0,0,0.5);
    background-image: linear-gradient(rgba(255,255,255,0) 0%,rgba(255,255,255,0) 75%,rgba(255,255,255,0.3)100%);
    /*border-radius: 15px;*/
    -webkit-animation: showSoftly 0.5s;
}

#settingsMainBox{
    color: white;
    display: block;
    padding: 15px 15px 15px 15px;
}

#settingsTitle{
    font-size: xx-large;
}

#close{
}

@-webkit-keyframes showSoftly /* Safari ä¸Ž Chrome */
{
    from {opacity: 0;}
    to {opacity: 100%;}
}

.settingItemTitle{
    font-size: large;
    border-bottom: 2px solid #FEDFE1;
}

.singleSettingItem{
    margin: 15px 0 0 0;
    padding: 5px 0 5px 0;
}

.closeSVG{
    width: 60px;
    height:60px;
}