.intro_styl{
    color: white;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
    z-index: 20;
    background-color: rgba(0,0,0,0.8);
    -webkit-animation: showSoftly 1s;
    padding: 15px 1% 15px 1%;
}

.skipIntro{
    color: white;
    font-size: 125%;
}

.textShowArea_styl{
    display: flex;
    justify-content: center;
    font-size: 250%;
    padding: 10% 0 0 0;
}

@-webkit-keyframes showSoftly /* Safari ä¸Ž Chrome */
{
    from {opacity: 0;}
    to {opacity: 100%;}
}

.introSingleRow{
    padding: 10px 15px 10px 15px;
    -webkit-animation: showSoftly 1.25s;
}

.skipIntro:hover{
    text-shadow: 1px 1px 3px rgba(255,255,255,0.5);
}