.menu_panel_main {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  position: relative;
  width: auto;
  height: 100%;
  padding: 2vmin 2vmin 2vmin 0;
  gap: 2vmin;
}

.menu_panel_button {
  cursor: pointer;
  display: flex;
  min-width: 10vmin;
  min-height: 10vmin;
  align-items: center;
  justify-content: center;
  transition: background-color 0.5s cubic-bezier(0.215, 0.610, 0.355, 1);
  text-align: center;
  border-radius: 0 5vmin 5vmin 0;
  color: rgb(68, 68, 68);
  font-size: 3.5vmin;
  font-weight: 500;
  padding: 1vmin 4vmin 1vmin 4vmin;
  
  &:hover {
    transition: background-color 0s;
    background-color: rgb(233, 233, 233);
  }
}

.menu_panel_button:first-child {
  margin-bottom: auto;
}

.menu_panel_button_active {
  background-color: rgb(233, 233, 233);
  box-shadow: 0 0.5vmin 0vmin rgb(199, 199, 199);
  border-color: rgba(255, 255, 255, 0.5);

  &:hover {
    background-color: rgb(240, 240, 240);
  }
}

.menu_panel_button_disabled {
  cursor: not-allowed !important;
  pointer-events: none;
  opacity: 0.5;
}

.menu_panel_button_icon {
  line-height: 0;
  font-size: 120%;
}

.menu_panel_button_text {
  display: flex;
  flex-shrink: 0;
  padding: 0 1vmin;
  margin-right: auto;
}

@container (aspect-ratio < 1.4) {
  .menu_panel_button_text {
    display: none;
  }
}
