.MenuPanel_main {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  //background-color: rgba(255, 255, 255, 1);
  //box-shadow: 0 0 45px 15px rgba(0, 0, 0, 0.05);
  padding: 0 55px;
}

.MenuPanel_button {
  padding: 0.25em 15px 0 15px;
  margin-right: 15px;
  display: flex;
  justify-content: center;
  font-size: 200%;
  text-align: center;
  //font-weight: bold;
  border-radius: 6px;
  //width: 20%;
  min-width: 12.5%;
  cursor: pointer;
  color: rgba(123,144,169, 1);
  background: rgba(0, 0, 0, 0);
  overflow: hidden;
  //border-right: 1.5px solid rgba(0, 0, 0, 0.15);
  transition: text-shadow 0.7s, background-color 0.7s;
}

.MenuPanel_button:last-child{
  margin-right: 0;
}

.MenuPanel_button:hover {
  background-color: rgba(245, 246, 247, 0.15);
}

.MenuPanel_button:last-child {
  border-right: none;
}

.MenuPanel_button_icon {
  transform: translate(0, 0.125em);
  padding: 0 0.15em 0 0;
  margin: 0 0.15em 0 0;
}

.MenuPanel_button_hl{
  background-color: rgba(245, 246, 247, 0.35) !important;
}
