.MenuPanel_main {
  width: 100%;
  height: 10%;
  display: flex;
  align-items: center;
  padding: 0 55px;
}

.MenuPanel_button {
  display: flex;
  font-family: 'Monomaniac One', WebgalUI, sans-serif;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  cursor: pointer;
  color: rgb(47, 55, 64);
  font-weight: 600;
  background: rgba(0, 0, 0, 0);
  overflow: hidden;
  margin-right: 32px;
  transition: text-shadow 0.7s, background-color 0.7s, color 0.2s;
  &:hover {
    color: #6c6c6c;
  }
  :global(.i-icon) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.MenuPanel_button:last-child {
  margin-right: 0;
}

.MenuPanel_button:last-child {
  border-right: none;
}

.MenuPanel_button_icon {
  border-radius: 50%;
  background-color: #f4f4f4;
  border: 2px solid #bbbbbb;
  width: 2.5em;
  height: 2.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4px;
  transition: text-shadow 0.7s, background-color 0.7s, color 0.2s;
}

.MenuPanel_button_hl {
  .MenuPanel_button_icon {
    background-color: #4e9aff !important;
    color: #ffffff !important;
    border: 2px solid #4e9aff !important;
    &:hover {
      background-color: #4e9aff !important;
      color: #ffffff !important;
      border: 2px solid #4e9aff !important;
    }
  }
}
