.TextBox_EventHandler {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 6;
  top: 0;
}

@mixin text_shadow_textElement {
  //text-shadow: 0 0 3px rgba(81,168,221,1);
}

.TextBox_main {
  position: absolute;
  z-index: 6;
  width: 100%;
  min-height: 37.5%;
  background: linear-gradient(
    //transparent,
      rgba(0, 0, 0, 0.5) 20%,
      rgba(0, 0, 0, .75));
  bottom: 0;
  font-weight: bold;
  color: white;
  padding: 1em 16em 2em 16em;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  animation: showSoftly 0.7s ease-out forwards;
  letter-spacing: 0.2em;
}

@keyframes showSoftly {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

//.TextBox_textElement {
//  opacity: 0;
//  animation: showSoftly 1000ms forwards;
//}


.TextBox_textElement_start {
  @include text_shadow_textElement;
  animation: TextDelayShow 1000ms ease-out forwards;
  opacity: 0;
}

.outer {
  position: absolute;
  left: 0;
  top:0;
  background-image: linear-gradient(
    //135deg,
      #ffffff 0%,
      #f5f7fa 45%,
      #c3cfe2 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  z-index: 2;
}

.inner {
  position: absolute;
  left: 0;
  top:0;
  -webkit-text-stroke: 0.085em rgba(0, 0, 0, 0.35);
  z-index: 1;
  text-shadow: 3px 3px 7px rgba(0, 0, 0, 0.3);
}

.zhanwei {
  color: transparent;
}

//
//.TextBox_textElement_start::before{
//  animation: TextDelayShow 700ms ease-out forwards;
//  opacity: 0;
//  content:attr(data-text);
//  position: absolute;
//}

.TextBox_textElement_Settled {
  @include text_shadow_textElement;
  opacity: 1;
}

//
//.TextBox_textElement_Settled::before{
//  content:attr(data-text);
//  position: absolute;
//  opacity: 1;
//  -webkit-text-stroke: 1px red;
//  z-index: 1;
//}

.TextBox_showName {
  @include text_shadow_textElement;
  font-size: 85%;
  //border-bottom: 3px solid rgb(176, 176, 176);
  min-width: 50%;
  padding: 0 0.2em 0.2em 0.1em;
  margin: 0 0 0.2em 0;
  position: relative;
}

@keyframes TextDelayShow {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.miniAvatarContainer {
  position: absolute;
  height: 80%;
  width: 15%;
  bottom: 0;
  left: 0.5em;
}

.miniAvatarImg {
  max-height: 100%;
  max-width: 100%;
  position: absolute;
  bottom: 0;
}
