.TextBox_EventHandler {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 6;
  top: 0;
}

@mixin text_shadow_textElement {
  //text-shadow: 0 0 3px rgba(81,168,221,1);
}

.TextBox_main {
  position: absolute;
  z-index: 6;
  width: 100%;
  min-height: 37.5%;
  background: linear-gradient(transparent,
    rgba(0, 0, 0, .25) 25%,
    rgba(0, 0, 0, .35) 75%,
    rgba(0, 0, 0, .6)),
  linear-gradient(90deg, transparent 0,
      rgba(0, 0, 0, .35) 25%,
      rgba(0, 0, 0, .35) 75%,
      transparent);
  bottom: 0;
  color: white;
  padding: 1em 16em 2em 16em;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  animation: showSoftly 0.7s ease-out forwards;
  letter-spacing: 0.2em;
}

@keyframes showSoftly {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.TextBox_textElement {
  opacity: 0;
  animation: showSoftly 1000ms forwards;
}


.TextBox_textElement_start {
  @include text_shadow_textElement;
  animation: TextDelayShow 700ms ease-out forwards;
  opacity: 0;
}

//
//.TextBox_textElement_start::before{
//  animation: TextDelayShow 700ms ease-out forwards;
//  opacity: 0;
//  content:attr(data-text);
//  position: absolute;
//}

.TextBox_textElement_Settled {
  @include text_shadow_textElement;
  opacity: 1;
}

//
//.TextBox_textElement_Settled::before{
//  content:attr(data-text);
//  position: absolute;
//  opacity: 1;
//  -webkit-text-stroke: 1px red;
//  z-index: 1;
//}

.TextBox_showName {
  @include text_shadow_textElement;
  font-size: 85%;
  border-bottom: 2px solid rgba(255, 255, 255, 0.3);
  min-width: 50%;
  padding: 0 0.2em 0.2em 0.1em;
  margin: 0 0 0.2em 0;
}

@keyframes TextDelayShow {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.miniAvatarContainer {
  position: absolute;
  height: 80%;
  width: 15%;
  bottom: 0;
  left: 0.5em;
}

.miniAvatarImg {
  max-height: 100%;
  max-width: 100%;
  position: absolute;
  bottom: 0;
}
