.main {
  position: absolute;
  bottom: 0.7em;
  right: 2em;
  z-index: 9;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.35);
  padding: 0 1em 0 1em;
  border-radius: 10px;
}

.button {
  position: relative;
  top: 2px;
  padding: 0 3px 0 0;
}

.button_text {
  position: relative;
  bottom: 7px;
}

.button_on {
  height: 100%;
  display: inline-block;
  color: white;
  font-size: 150%;
  padding: 0.2em 0.35em 0 0.2em;
  transition: background-color 0.5s;
  background: rgba(255, 255, 255, 0.3);
}

.singleButton {
  height: 100%;
  display: inline-block;
  color: white;
  font-size: 150%;
  padding: 0.2em 0.35em 0 0.2em;
  transition: background-color 0.5s;
}

.singleButton:hover {
  background-color: rgba(255, 255, 255, 0.15);
}