.main {
  position: absolute;
  bottom: 0;
  z-index: 9;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0 0 0 0;
}

.main span {
  border-radius: 5px;
  padding: 6px 6px 2px 6px;
  margin: 2px 8px 2px 8px;
}

.main span:hover {
  background:rgba(0,0,0,0.3);
}